{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Play</title>
    <link rel="stylesheet" href="{% static 'transcendence/css/main.css' %}">
    <style>
        .container {
            margin: 0 auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        body {
            background: #1a1a1a;
        }

        .gameFrame {
            width: 1500px;
            height: 800px;
        }

        #score1 {
            image-rendering: 'pixelated';
        }
    </style>
</head>
<body>
<div class="row justify-content-center">
    <div class="col-md-6" style="width: 1000px; height: 800px;">
        <div id="pongCanvasLocal" class="container rounded p-4"
             style="position: relative; background: #ffcc00; margin-top: 10px; width: 900px; height: 700px;">
        </div>
    </div>
</div>
</body>
</html>
