{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="{% static 'transcendence/css/main.css' %}">
</head>
<body>
<p>This web application complies with GDPR.</p>
<p>We process your data such as: your profile photo, your username, and your game history.</p>
<p>We do not have any partners and we do not offer advertisements. We do not use any tracking cookies. This allows us not to have a cookie banner.</p>
<p>To delete your data, simply delete your account by clicking on profile at the top right. Your data will then be anonymized.</p>
<p>For any questions, contact us by email: oizel.alexis@gmail.com</p>
</body>
</html>
