{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link rel="stylesheet" href="{% static 'transcendence/css/register.css' %}">
</head>
<body>
    <div class="register-container">
        <h2>Registration for Transcendence</h2>
        <form action="/register/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">Register</button>
            <p>Already have an account ? <a href="/login/">Login</a></p>
        </form>
    </div>
</body>
</html>