body {
    background-color: #1a1a1a;
    color: #ffcc00;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar {
    margin-bottom: 20px;
}
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leaderboard-container {
    width: 100%;
    max-width: 800px;
    background-color: #333;
    padding: 20px;
    border: 4px solid #ffcc00;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.leaderboard-container h2 {
    text-align: center;
    color: #ffcc00;
    text-shadow: 2px 2px #000;
    margin-bottom: 20px;
}
.leaderboard-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.list-group-item {
    background-color: #444;
    border: 2px solid #ffcc00 !important;
	padding: 10px 10px;
    margin-bottom: 10px;
    color: #ffcc00;
    text-shadow: 1px 1px #000;
    font-family: 'Press Start 2P', cursive;
}
.list-group-item a {
    color: #ff8800;
    text-decoration: none;
}
.list-group-item a:hover {
    color: #ff5500;
}
