body {
    background: #1a1a1a;
    color: #ffcc00;
    font-family: 'Press Start 2P', cursive;
}
.profile-img {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px auto 10px;
    object-fit: cover;
    display: block;
    border: 4px solid #ffcc00;
}
.card {
    background-color: #1a1a1a;
    border: 4px solid #ffcc00;
}
.card-title, .card-text, .list-group-item {
    color: #ffcc00;
    text-shadow: 1px 1px #000;
}
.list-group-item {
    background-color: #1a1a1a;
    border: 2px solid #ffcc00;
}
.list-group-item a {
    color: #ffcc00;
    text-decoration: none;
}
.list-group-item a:hover {
    background-color: #333;
    color: #fff;
    text-shadow: 1px 1px #ff0000;
}
#delete_button {
    color: #ffcc00;
    cursor: pointer;
}
#delete_button:hover {
    color: #ff0000;
}